@media (min-width: $breakpoint-md) {
    .contact {
        padding: 82px 20px 80px;
        max-width: 1092px;

        &__info {
            padding: 0;
            max-width: 412px;
            margin: 130px 20px 0 0;
        }

        .form {
            border-radius: 12px;

            &__title {
                font-weight: 700px;
                @include textData(32px, 1.19);
            }
        }
    }
}

@media (min-width: $breakpoint-lg) {
    .contact {
    
        .form {
            width: 527px;
        }
    }
}