$purplish-blue: #323264;
$blue: #24A3FF;
$blue-magenta: #B3B3BA;
$purple: #46466E;
$white: #FFFFFF;
$grey: #F5F5FA;
$dark-pink: #F0145A;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;