.cases {
    &__wrapper {
        padding-top: 40px;
    }

    &__title-wrapper {
        background-color: $grey;
        border: 1px solid $white;
        border-radius: 12px 0 0 0;
        padding: 20px 20px;
    }

    &__title {
        @include textData(14px, 1.2);
        letter-spacing: 1px;
        color: $dark-pink;
    }

    &__info {
        background-color: $grey;
        border: 1px solid $white;
        padding: 20px 20px;
    }

    &__border-clikky {
        border-radius: 0 0 12px 12px;
    }

    &__desc {
        @include textData(18px, 1.17);
        color: #686887;
        margin-bottom: 10px;
    }

    &__clients {
        @include textData(18px, 1.44);
        color: $blue-magenta;
    }
}